[run]
source=
    open_weather_map
    core

[html]
directory = htmlcov

[report]
exclude_lines =
  pragma: no cover

    def __str__

omit=
    *__init__*
    */migrations/*
    *manage*
    *serializers*
    *admin*
    *test*
    *urls*
    *settings*
    *wsgi*
    *apps*
