{% extends "base.html" %}
{% load static %}

{% block title %}
	Open Weather Map
{% endblock %}

{% block content %}
	<div>
		<form id="search_city_weather">
			{% csrf_token %}
			<div class="input">
				<input type="text" placeholder="search by city" class="input_text" id="post-text">
				<input type="submit" value="Search" class="submit">
			</div>
		</form>

		<form id="save_city_weather">
			{% csrf_token %}
			<div class="card"></div>
			<input type="hidden" id="hidden_post_text">
			<input type="submit" value="Save">
		</form>
		<br>

		<input type="button" id="fetch_city_weather" value="History">
	</div>


	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

{% endblock %}
